form {
  text-align: center;

  margin: 5rem auto 5rem auto;
}

.form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form div input {
  width: 300px;
  padding: 1rem;

  border: 2px solid hsl(278, 100%, 34%);
  border-radius: 4px;

  font-size: 1rem;
}

.form div button {
  padding: 1rem 2rem;

  font-size: 1rem;
  color: #fff;
  font-weight: 600;

  background-color: hsl(278, 100%, 34%);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.form button:hover {
  opacity: 0.8;
}

.form button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

form p {
  color: red;
  margin: 0.5rem;
}